@import './color.scss';
@import './flex.scss';
@import './margin-padding.scss';
@import './other.scss';


// #ifdef H5

uni-page-body {
  height:100% ;
  //overflow: hidden;
  overflow-y: hidden;
}

// #endif